In [1]:
# Database
import pymongo

# Preprocessing
import pandas as pd
import time

### Login

In [2]:
f=open(".my-mongo-credential","r")
lines=f.readlines()
username=lines[0].strip()
password=lines[1].strip()
f.close()

In [54]:
# remote
client = pymongo.MongoClient(f'mongodb+srv://{username}:{password}@cluster0.ibac3d0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')

In [33]:
# localhost
# client = pymongo.MongoClient("mongodb://localhost:27017/")

In [34]:
client

MongoClient(host=['ac-slpho2y-shard-00-02.ibac3d0.mongodb.net:27017', 'ac-slpho2y-shard-00-01.ibac3d0.mongodb.net:27017', 'ac-slpho2y-shard-00-00.ibac3d0.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-11ongf-shard-0', tls=True, connecttimeoutms=100000000)

In [6]:
client.server_info()

{'version': '7.0.8',
 'gitVersion': 'c5d33e55ba38d98e2f48765ec4e55338d67a4a64',
 'modules': ['enterprise'],
 'allocator': 'tcmalloc',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [7, 0, 8, 0],
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['devnull', 'inMemory', 'queryable_wt', 'wiredTiger'],
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1712568921, 2),
  'signature': {'hash': b'\x83\x9c1\x16F:%\x17\xdd\x1d|\x03=\xab*\xd9\tz\xeb\x16',
   'keyId': 7299119760740974594}},
 'operationTime': Timestamp(1712568921, 2)}

## Show all collection names

In [21]:
 print(client.list_database_names())

['Amazon', 'sample_guides', 'test10', 'test100', 'admin', 'local']

## Example to upload 10 rows element to mongodb atlas

In [8]:
db=client['test10']
collection = db['test10']

In [9]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
]

# x = collection.insert_many(mylist)

## Upload 100 rows test data to mongodbAtlas

In [10]:
db=client['test100']
collection = db['test100']

__Mongodb create aditional columns for `_id` and `ObjectId`, rename `Unnamed: 0` to `_id` to avoid creating two more columns__

In [15]:
data = pd.read_csv('amazon_100.csv')
data = data.rename(columns={'Unnamed: 0':'_id'})
data.head(5)

,_id,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ProductURL
0,0,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,https://www.amazon.com/dp/B000UA0QIQ
1,1,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...,https://www.amazon.com/dp/B006K2ZZ7K
2,2,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...,https://www.amazon.com/dp/B006K2ZZ7K
3,3,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...,https://www.amazon.com/dp/B00171APVA
4,4,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...,https://www.amazon.com/dp/B001GVISJM

In [16]:
payload = json.loads(data.to_json(orient='records'))
# collection.remove()
collection.insert_many(payload)

InsertManyResult([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], acknowledged=True)

In [ ]:
# payload

# How to do a simple query

In [17]:
query = {'_id':0}
for x in collection.find(query):
    print(x)

{'_id': 0, 'Id': 4, 'ProductId': 'B000UA0QIQ', 'UserId': 'A395BORC6FGVXV', 'ProfileName': 'Karl', 'HelpfulnessNumerator': 3, 'HelpfulnessDenominator': 3, 'Score': 2, 'Time': 1307923200, 'Summary': 'Cough Medicine', 'Text': 'If you are looking for the secret ingredient in Robitussin I believe I have found it.  I got this in addition to the Root Beer Extract I ordered (which was good) and made some cherry soda.  The flavor is very medicinal.', 'ProductURL': 'https://www.amazon.com/dp/B000UA0QIQ'}

In [ ]:
data.head(1)

### Update mongo dataset
Problem
* There are too many rows if you want use insert_many.
* Solution: for loop with __insert_one__

In [35]:
# Read database and drop unnamed column
test = pd.read_csv('Reviews_withURL.csv')
test.drop('Unnamed: 0',axis=1,inplace=True)

In [36]:
# rename column
test = test.rename(columns={'Id':'_id'})

In [37]:
#  in case you need to limit the data - test for timeout
# test = test.head(100)

In [38]:
# create database and table
db=client['Amazon']
collection = db['reviews']

In [39]:
# convert to json file
payload = json.loads(test.to_json(orient='records'))

In [44]:
len(payload)

568454

In [53]:
s_time = time.time()
for i in range(len(payload)):
    collection.insert_one(payload[i])
e_time = time.time()

In [ ]:
print('Import Time with Python: ',(s_time - e_time))