# Data Preparation

## Data Load

In [5]:
import pandas as pd
import numpy as np

In [21]:
file_in = "./CSV/df_amazon_original.csv"
file_out = "./CSV/df_data-cleaning.csv"

In [9]:
df = pd.read_csv(file_in)
# df.drop("Unnamed: 0",axis=1,inplace=True)

In [10]:
df.head()

,_id,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ProductURL
0,0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,https://www.amazon.com/dp/B001E4KFG0
1,2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...,https://www.amazon.com/dp/B000LQOCH0
2,3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,https://www.amazon.com/dp/B000UA0QIQ
3,1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,https://www.amazon.com/dp/B00813GRG4
4,4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,https://www.amazon.com/dp/B006K2ZZ7K

## Processing

In [11]:
df.replace({None: np.nan}, inplace=True)
# df = df.set_index("").reset_index(drop=True).drop('_id',axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568454 non-null  int64
 1   Id                      568454 non-null  int64
 2   ProductId               568454 non-null  object
 3   UserId                  568454 non-null  object
 4   ProfileName             568406 non-null  object
 5   HelpfulnessNumerator    568454 non-null  int64
 6   HelpfulnessDenominator  568454 non-null  int64
 7   Score                   568454 non-null  int64
 8   Time                    568454 non-null  int64
 9   Summary                 568425 non-null  object
 10  Text                    568454 non-null  object
 11  ProductURL              568454 non-null  object
dtypes: int64(6), object(6)
memory usage: 52.0+ MB

In [13]:
# Null values
df.isna().sum()

_id                        0
Id                         0
ProductId                  0
UserId                     0
ProfileName               48
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   29
Text                       0
ProductURL                 0
dtype: int64

In [14]:
df[df.isna().any(axis=1)]

,_id,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ProductURL
10616,10616,10617,B002DHN956,A1LSYR30XW7CFT,NaN,1,2,5,1291680000,Awesome,This is 72 for the price of like 24 at the gro...,https://www.amazon.com/dp/B002DHN956
25509,25509,25510,B000LKZB4Y,A36BVYD0NT7Z0F,NaN,0,0,5,1314576000,These are the best mints and no aspartame or BHT,I was so shocked to find out that almost all g...,https://www.amazon.com/dp/B000LKZB4Y
29041,29042,29043,B000MPRP4C,A1DJV0XTCCSZ8F,NaN,0,0,5,1342915200,Best tea ever,"Addicted to this bright, strong tea for breakf...",https://www.amazon.com/dp/B000MPRP4C
33958,33958,33959,B00412W76S,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...,https://www.amazon.com/dp/B00412W76S
38874,38874,38875,B000AYDGZ2,A36BVYD0NT7Z0F,NaN,2,3,1,1278374400,doesn't anyone care that they are putting BHT ...,I called Kellogg's to see why Special K red be...,https://www.amazon.com/dp/B000AYDGZ2
...,...,...,...,...,...,...,...,...,...,...,...,...
522215,522215,522216,B001D9YVE8,A20DJISCACLF8J,NaN,1,2,5,1231286400,great tea,I love this tea! A lot of green teas are too ...,https://www.amazon.com/dp/B001D9YVE8
530716,530716,530717,B0014ATRV8,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...,https://www.amazon.com/dp/B0014ATRV8
537423,537423,537424,B0034EFIYC,AOZHN8BHN0Y1O,NaN,0,0,5,1348099200,Walnut and date,These were the best nutrient bars I have had E...,https://www.amazon.com/dp/B0034EFIYC
539740,539740,539741,B000FIXYB4,A1DJV0XTCCSZ8F,NaN,0,0,4,1271030400,We like it,"Good portion size (7.5 oz), not too carb-heavy...",https://www.amazon.com/dp/B000FIXYB4
560446,560446,560447,B000CQID1K,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...,https://www.amazon.com/dp/B000CQID1K

In [15]:
# Drop Na
df = df.dropna()

In [16]:
# Check for Duplicates
df.duplicated().sum()

0

## Change data type

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568377 entries, 0 to 568453
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568377 non-null  int64
 1   Id                      568377 non-null  int64
 2   ProductId               568377 non-null  object
 3   UserId                  568377 non-null  object
 4   ProfileName             568377 non-null  object
 5   HelpfulnessNumerator    568377 non-null  int64
 6   HelpfulnessDenominator  568377 non-null  int64
 7   Score                   568377 non-null  int64
 8   Time                    568377 non-null  int64
 9   Summary                 568377 non-null  object
 10  Text                    568377 non-null  object
 11  ProductURL              568377 non-null  object
dtypes: int64(6), object(6)
memory usage: 56.4+ MB

In [18]:
# Date to datetime
df['Time'] = pd.to_datetime(df['Time'], unit='s')
# Object to String
df['Summary'] = df['Summary'].astype('string')
df['Text'] = df['Text'].astype('string')

In [19]:
df['Year'] = df['Time'].dt.year
df['Month'] = df['Time'].dt.month
df['Day'] = df['Time'].dt.day

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568377 entries, 0 to 568453
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568377 non-null  int64
 1   Id                      568377 non-null  int64
 2   ProductId               568377 non-null  object
 3   UserId                  568377 non-null  object
 4   ProfileName             568377 non-null  object
 5   HelpfulnessNumerator    568377 non-null  int64
 6   HelpfulnessDenominator  568377 non-null  int64
 7   Score                   568377 non-null  int64
 8   Time                    568377 non-null  datetime64[ns]
 9   Summary                 568377 non-null  string
 10  Text                    568377 non-null  string
 11  ProductURL              568377 non-null  object
 12  Year                    568377 non-null  int32
 13  Month                   568377 non-null  int32
 14  Day                     568377 non-null  int32
dtypes: datetime64[ns](1), int32(3), int64(5), object(4), string(2)
memory usage: 62.9+ MB

## Data out

In [23]:
df.to_csv(file_out, index=False)