In [1]:
!curl ipecho.net/plain

140.118.133.27

In [2]:
!curl ipconfig.io

140.118.133.27

In [3]:
!python --version

Python 3.11.7

In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/ml/anaconda3/lib/python3.11/site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /home/ml/anaconda3/lib/python3.11/site-packages (from pymongo) (2.6.1)

In [5]:
# Database
import pymongo
# Preprocessing
import pandas as pd
import numpy as np
from datetime import datetime
from natsort import natsort_keygen

import nltk
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
# Data Visualization
import matplotlib.pyplot as plt
import plotly.express as px

In [6]:
client = pymongo.MongoClient('mongodb+srv://USERNAME:PASSWORD@cluster0.7cwggsq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')

In [7]:
client

MongoClient(host=['ac-njcjjcf-shard-00-00.7cwggsq.mongodb.net:27017', 'ac-njcjjcf-shard-00-02.7cwggsq.mongodb.net:27017', 'ac-njcjjcf-shard-00-01.7cwggsq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-kpb8t9-shard-0', tls=True)

In [8]:
db=client.Amazon
collection=db.reviews

In [9]:
amazon_df = pd.DataFrame(list(collection.find()))

In [10]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568454 non-null  object
 1                           568454 non-null  int64
 2   Id                      568454 non-null  int64
 3   ProductId               568454 non-null  object
 4   UserId                  568454 non-null  object
 5   ProfileName             568432 non-null  object
 6   HelpfulnessNumerator    568454 non-null  int64
 7   HelpfulnessDenominator  568454 non-null  int64
 8   Score                   568454 non-null  int64
 9   Time                    568454 non-null  int64
 10  Summary                 568452 non-null  object
 11  Text                    568454 non-null  object
 12  ProductURL              568454 non-null  object
dtypes: int64(6), object(7)
memory usage: 56.4+ MB

In [11]:
# Null values
amazon_df.isna().sum()

_id                        0
                           0
Id                         0
ProductId                  0
UserId                     0
ProfileName               22
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                    2
Text                       0
ProductURL                 0
dtype: int64

In [12]:
# Drop Na
amazon_df = amazon_df.dropna()

In [13]:
# Check for Duplicates
amazon_df.duplicated().sum()

0

* Change Data Type

In [14]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568430 entries, 0 to 568453
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568430 non-null  object
 1                           568430 non-null  int64
 2   Id                      568430 non-null  int64
 3   ProductId               568430 non-null  object
 4   UserId                  568430 non-null  object
 5   ProfileName             568430 non-null  object
 6   HelpfulnessNumerator    568430 non-null  int64
 7   HelpfulnessDenominator  568430 non-null  int64
 8   Score                   568430 non-null  int64
 9   Time                    568430 non-null  int64
 10  Summary                 568430 non-null  object
 11  Text                    568430 non-null  object
 12  ProductURL              568430 non-null  object
dtypes: int64(6), object(7)
memory usage: 60.7+ MB

In [15]:
# Date to datetime
amazon_df['Time'] = pd.to_datetime(amazon_df['Time'], unit='s')

In [16]:
amazon_df['Year'] = amazon_df['Time'].dt.year
amazon_df['Month'] = amazon_df['Time'].dt.month
amazon_df['Day'] = amazon_df['Time'].dt.day

* Clean Data

In [18]:
amazon_df.head(1)

,_id,,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ProductURL,Year,Month,Day
0,660136d21ab34c5dcc314932,3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,2011-06-13,Cough Medicine,If you are looking for the secret ingredient i...,https://www.amazon.com/dp/B000UA0QIQ,2011,6,13

In [25]:
amazon_df['Summary'] = amazon_df['Summary'].astype('string')
amazon_df['Text'] = amazon_df['Text'].astype('string')

In [26]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568430 entries, 0 to 568453
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     568430 non-null  object
 1                           568430 non-null  int64
 2   Id                      568430 non-null  int64
 3   ProductId               568430 non-null  object
 4   UserId                  568430 non-null  object
 5   ProfileName             568430 non-null  object
 6   HelpfulnessNumerator    568430 non-null  int64
 7   HelpfulnessDenominator  568430 non-null  int64
 8   Score                   568430 non-null  int64
 9   Time                    568430 non-null  datetime64[ns]
 10  Summary                 568430 non-null  string
 11  Text                    568430 non-null  string
 12  ProductURL              568430 non-null  object
 13  Year                    568430 non-null  int32
 14  Month                   568430 non-null  int32
 15  Day                     568430 non-null  int32
 16  Not Helpful             568430 non-null  int64
dtypes: datetime64[ns](1), int32(3), int64(6), object(5), string(2)
memory usage: 71.6+ MB

In [27]:
def clean_text(text):
    #Lowercase
    text = text.lower()
    # Remove Punctuation
    text = re.sub(r'[^a-zA-Z0-9\s]',' ',text)
    # Remove Stopwords
    stop_words = set(stopwords.words('english'))
    text = ' '.join([word for word in text.split() if word not in stop_words])
    return text

In [28]:
amazon_df['Text'] = amazon_df['Text'].apply(clean_text)
amazon_df['Summary'] = amazon_df['Summary'].apply(clean_text)

In [29]:
amazon_df.to_csv('clean_amazon_df.csv')

* Data Analysis

Less helpfull products

In [30]:
amazon_df['Not Helpful'] = amazon_df['HelpfulnessNumerator'] - amazon_df['HelpfulnessDenominator']

In [31]:
amazon_df[amazon_df['Not Helpful']>0]

,_id,,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ProductURL,Year,Month,Day,Not Helpful
44932,660137111ab34c5dcc31f7ef,44736,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,2008-06-08,pure cocoa taste crunchy almonds inside,almost love first bite perfectly roasted almon...,https://www.amazon.com/dp/B001EQ55RW,2008,6,8,1
64388,6601372a1ab34c5dcc3244d4,64421,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,2008-10-25,bought son college,son loves spaghetti hesitate ordering says gre...,https://www.amazon.com/dp/B000MIDROQ,2008,10,25,2

In [34]:
# Review time
unique_years = amazon_df['Year'].unique()
unique_years.sort()
time = unique_years[unique_years.size-1] - unique_years[0]

print('Review time of {} years: \n\n{}'.format(time,unique_years))

Review time of 13 years:

[1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]

In [36]:
amazon_df['Score'].value_counts()

Score
5    363103
4     80651
1     52268
3     42639
2     29769
Name: count, dtype: int64

In [ ]:
event = event[(event['Category']<200) & (~event['Device_Name'].isin(['Device_1', 'Device_2']))]
event['Start_Time'] = pd.to_datetime(event['Start_Time'])
event['End_Time'] = pd.to_datetime(event['End_Time'])
event['duration'] = event['End_Time'] - event['Start_Time']
event["Time_shift"] = event["Start_Time"] - pd.Timedelta(hours=7, minutes=40)  # 將早班開始時間(7:40)平移置0:00
event['date'] = event['Time_shift'].dt.date # 以班別為基礎的工作日期 如2022-01-02 為 2022-01-02 7:40(早班開始) 到 2023-01-03 7:40(晚班結束)
event['hour'] = event['Time_shift'].dt.hour+1 # 工作日期的第幾個小時 1~12為早班 13~24為晚班
event['shift'] = pd.cut(event['hour'], bins=[0,12,24], labels=['D','N']) # 班別 1~12為早班(D) 13~24為晚班(N)
event.sort_values('Start_Time', inplace=True)
print(event.head())

In [ ]:
dvs_count=event.groupby(['Device_Name'])['Device_Name'].count()
total = dvs_count.values.sum()
dvs_count.values
total
def fmt(x):
  return '{:.1f}%\n{:.0f}'.format(x, total*x/100)

In [ ]:
plt.pie(dvs_count.values, radius=1.5, labels=dvs_count.index, autopct=fmt)
plt.show()

In [ ]:
device_count = event['Device_Name'].value_counts().order.reset_index()

In [ ]:
device_count

In [ ]:
img = px.pie(device_count,names='Device_Name',values='count',
             color_discrete_sequence=px.colors.sequential.ice_r,
      title='Distribution of content Ratings On Netflix',height=500,width=600)
img.show()